# Pandas

In [4]:
import pandas as pd
import numpy as np

In [5]:
label = ['a', 'b', 'c']
l = [100, 200, 300]

arr = np.array([1,2,3])

dic = {
    'a' : 100,
    'b' : 200,
    'c' : 300,
}

In [8]:
pd.Series(data = l, index = label)

a    100
b    200
c    300
dtype: int64

In [9]:
pd.Series(dic)

a    100
b    200
c    300
dtype: int64

In [10]:
arr

array([1, 2, 3])

In [12]:
pd.Series(arr, label)

a    1
b    2
c    3
dtype: int32

In [14]:
label

['a', 'b', 'c']

In [15]:
pd.Series(data=label)

0    a
1    b
2    c
dtype: object

In [16]:
label = [len, print, max]

In [17]:
pd.Series(data=label)

0      <built-in function len>
1    <built-in function print>
2      <built-in function max>
dtype: object

In [21]:
ser1 = ['Pakistan', 'India', 'Bangladesh']
ser11 = [1,2,3]

In [22]:
ser2 = ['USA', 'Pakistan', 'India']
ser22 = [10, 20, 30]

In [23]:
s1 = pd.Series(ser11, ser1)

In [24]:
s2 = pd.Series(ser22, ser2)

In [25]:
s1

Pakistan      1
India         2
Bangladesh    3
dtype: int64

In [26]:
s2

USA         10
Pakistan    20
India       30
dtype: int64

In [28]:
s1['Pakistan']

1

In [29]:
s1+s2

Bangladesh     NaN
India         32.0
Pakistan      21.0
USA            NaN
dtype: float64