In [1]:
import pandas as pd
import numpy as np

In [33]:
data = {
    'A' : [1,2, np.nan],
    'B' : [4, np.nan, 5],
    'C' : [10, 20, np.nan],
    'D' : [1,2,3]
}

In [34]:
df = pd.DataFrame(data)

In [35]:
df.isnull().sum()

A    1
B    1
C    1
D    0
dtype: int64

In [36]:
df

     A    B     C  D
0  1.0  4.0  10.0  1
1  2.0  NaN  20.0  2
2  NaN  5.0   NaN  3

In [42]:
df['A'].fillna(df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64