In [13]:
import pandas as pd
import numpy as np

In [14]:
from numpy.random import randn

In [16]:
np.random.seed(101)

In [20]:
data = randn(5,4)

In [22]:
index = 'A B C D E'.split()

In [23]:
columns = 'W X Y Z'.split()

In [25]:
df = pd.DataFrame(data, index, columns)

In [26]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [28]:
df[['X', 'Y']]

          X         Y
A  0.196800 -1.136645
B -0.156598 -0.031579
C -0.610259 -0.755325
D -0.479448  0.558769
E  1.862864 -1.133817

In [34]:
df['W']

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [35]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [48]:
df['PK'] = df['X'] + df['Y']

In [49]:
df

          W         X         Y         Z        PK
A -0.993263 -0.939845 -1.136645  0.000366 -2.076490
B  1.025984 -0.188177 -0.031579  0.649826 -0.219756
C  2.154846 -1.365584 -0.755325 -0.346419 -2.120910
D  0.147027  0.079321  0.558769  1.024810  0.638091
E -0.925874  0.729047 -1.133817  0.610478 -0.404770

In [51]:
df = df.drop('PK', axis = 1)

In [53]:
df.loc['A']

W   -0.993263
X   -0.939845
Y   -1.136645
Z    0.000366
Name: A, dtype: float64

In [54]:
df.iloc[2]

W    2.154846
X   -1.365584
Y   -0.755325
Z   -0.346419
Name: C, dtype: float64

In [55]:
df.loc['C', 'Y']

-0.755325340010558

In [56]:
df.loc[['A', 'E'], ['W', 'Z']]

          W         Z
A -0.993263  0.000366
E -0.925874  0.610478

In [63]:
df[df['W']>0][['X', 'Y']]

          X         Y
B -0.188177 -0.031579
C -1.365584 -0.755325
D  0.079321  0.558769

In [66]:
df[ (df['W'] > 0) & (df['X'] < 0)]

          W         X         Y         Z
B  1.025984 -0.188177 -0.031579  0.649826
C  2.154846 -1.365584 -0.755325 -0.346419

In [52]:
df

          W         X         Y         Z
A -0.993263 -0.939845 -1.136645  0.000366
B  1.025984 -0.188177 -0.031579  0.649826
C  2.154846 -1.365584 -0.755325 -0.346419
D  0.147027  0.079321  0.558769  1.024810
E -0.925874  0.729047 -1.133817  0.610478

In [69]:
df = df.reset_index()

In [73]:
new = 'AB BC CD DA GH'.split()

In [74]:
df['new'] = new

In [77]:
df = df.set_index('new')

In [79]:
df

    index         W         X         Y         Z
new
AB      A -0.993263 -0.939845 -1.136645  0.000366
BC      B  1.025984 -0.188177 -0.031579  0.649826
CD      C  2.154846 -1.365584 -0.755325 -0.346419
DA      D  0.147027  0.079321  0.558769  1.024810
GH      E -0.925874  0.729047 -1.133817  0.610478

In [80]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [81]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [83]:
df = pd.DataFrame(np.random.randn(6,2), index = hier_index, columns = ['A', 'B'])

In [88]:
df.loc['G1']['B']

1    1.482495
2   -2.141212
3    1.192241
Name: B, dtype: float64

In [84]:
df

             A         B
G1 1 -1.382920  1.482495
   2  0.961458 -2.141212
   3  0.992573  1.192241
G2 1 -1.046780  1.292765
   2 -1.467514 -0.494095
   3 -0.162535  0.485809

In [91]:
df.index.names = ['Group', 'Nums']

In [96]:
df.xs(('G1', 2))

A    0.961458
B   -2.141212
Name: (G1, 2), dtype: float64

In [97]:
df.xs('A', axis = 1)

Group  Nums
G1     1      -1.382920
       2       0.961458
       3       0.992573
G2     1      -1.046780
       2      -1.467514
       3      -0.162535
Name: A, dtype: float64

In [92]:
df

                   A         B
Group Nums
G1    1    -1.382920  1.482495
      2     0.961458 -2.141212
      3     0.992573  1.192241
G2    1    -1.046780  1.292765
      2    -1.467514 -0.494095
      3    -0.162535  0.485809

In [98]:
df.xs(1, level = 'Nums')

             A         B
Group
G1    -1.38292  1.482495
G2    -1.04678  1.292765