
# Python Crash Course

Please note: This is not a comprehensive overview of Python or programming in general. If you are newbie in programming, you should take a programming course first.

## Data types

### Numbers

In [1]:
4 + 5

9

In [2]:
4 * 5

20

In [3]:
2 ** 4

16

In [4]:
50/5

10.0

In [5]:
50%7

1

In [6]:
(50%7) + (4*5)

21

# Variables

In [7]:
x = 5
y = 4

In [8]:
z = x + y

In [9]:
name = 'Parkash Heerani'

In [10]:
names_list = ['Parkash', 'Ali', 'Ahsan']

### Printing

In [11]:
x = 'hello'
y = 'Parkash'

In [12]:
print(x)
print(y)

hello
Parkash

In [13]:
print(x)

hello

In [14]:
num = 12
name = 'Sam'

In [15]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [16]:
l = [1,2,3]

In [17]:
l[1]

2

In [18]:
['Parkash', 'Ali', 'Ahsan', 'Krishna']

['Parkash', 'Ali', 'Ahsan', 'Krishna']

In [19]:
[1,2,3, 'Parkash', True, 3.5]

[1, 2, 3, 'Parkash', True, 3.5]

In [20]:
l = [1,2,3,4, ['Parkash', 'Ali', [True, False]]]

In [21]:
l[4][2][0]

True

In [22]:
l.reverse()

In [23]:
l

[['Parkash', 'Ali', [True, False]], 4, 3, 2, 1]

# Dictionaries

In [45]:
d = {
    'Name': 'Parkash',
    'Num' : 12345,
    'Balance' : 1000,
    'Friends': ['Ali', 'Ahsan', 'Krishna']
}

In [25]:
dic

{'Name': 'Parkash',
 'Num': 12345,
 'Balance': 1000,
 'Friends': ['Ali', 'Ahsan', 'Krishna']}

### Booleans

In [26]:
True

True

In [27]:
False

False

### Tuples

In [28]:
t = (2,3,4, 'Parkash')

In [29]:
l = [1,2,3]

In [30]:
t[0] = 4

TypeError: 'tuple' object does not support item assignment

In [ ]:
l

### Sets

In [ ]:
{3,4,5}

In [ ]:
{2,2,2,3,3,3}

In [ ]:
{
    'a' : 5
}

## Comparison Operators

In [ ]:
a = 4

In [ ]:
a >= 4

## Logic Operators

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

## if,elif, else Statements

In [ ]:
a = 3
if a > 4:
    print('greater')
elif a < 4:
    print('lesser')
    
else:
    print('Equal')

## for Loops

In [ ]:
seq = [1,2,3,4,5]

dic = {
    'Name': 'Parkash',
    'Num' : 12345,
    'Gender' : 'Male'
}

In [ ]:
for item in seq:
    print(item**2)

In [ ]:
for key, value in dic.items():
    print(key, value)

## while Loops

In [ ]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

## range()

In [ ]:
for i in range(10):
    print(i)

## list comprehension

In [3]:
x = [1,2,3,4]

In [4]:
output = []
for i in x:
    output.append(i**2)

In [8]:
l = list(range(20))

In [11]:
[item for item in l if item%2 != 0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## functions

In [16]:
def print10(x):
    print(list(range(x)))

In [19]:
print10(500)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499]

## lambda expressions

In [20]:
def square(x):
    return x**2

In [21]:
square(4)

16

In [23]:
sq = lambda x: x**2

In [24]:
sq(4)

16

## map and filter

In [26]:
l = list(range(10))

In [28]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
list(map(lambda x : x**2, l))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
list(filter(lambda x : x%2 == 0, l))

[0, 2, 4, 6, 8]

## methods

In [36]:
st = 'HELLO my name is Parkash'

In [38]:
st.lower()

'hello my name is parkash'

In [39]:
st.upper()

'HELLO MY NAME IS PARKASH'

In [40]:
st.split()

['HELLO', 'my', 'name', 'is', 'Parkash']

In [41]:
tweet = 'Go Sports! #Sports'

In [42]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [43]:
tweet.split('#')[1]

'Sports'

In [46]:
d

{'Name': 'Parkash',
 'Num': 12345,
 'Balance': 1000,
 'Friends': ['Ali', 'Ahsan', 'Krishna']}

In [47]:
d.keys()

dict_keys(['Name', 'Num', 'Balance', 'Friends'])

In [48]:
d.items()

dict_items([('Name', 'Parkash'), ('Num', 12345), ('Balance', 1000), ('Friends', ['Ali', 'Ahsan', 'Krishna'])])

In [49]:
lst = [1,2,3]

In [51]:
lst.pop()

3

In [52]:
lst

[1, 2]

In [53]:
'x' in [1,2,3]

False

In [54]:
'x' in ['x','y','z']

True

In [55]:
{234,1,2,1,1,}

{1, 2, 234}

# Great Job!